<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2 xmlns:th="http://www.w3.org/1999/xhtml">Book List</h2>
<div th:switch="${book}">
    <h2 th:case="null">No books yet!</h2>
    <div th:case="*">
        <h2>Books</h2>
        <table class="bTop" colspan="0" border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publishing</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bk : ${book}">
                <td th:text="${bk.book_id}"></td>
                <td th:text="${bk.title}"></td>
                <td th:text="${bk.author}"></td>
                <td th:text="${bk.publishing}"></td>
                <td><a th:href="@{/editbook/{book_id}(book_id=${bk.book_id})}">Edit</a></td>
                <td><a th:href="@{/deletebook/{book_id}(book_id=${bk.book_id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/signup-book">Add a new book</a></p>
</div>
</body>
</html>