<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Historic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2 xmlns:th="http://www.w3.org/1999/xhtml">Loan List</h2>
<div th:switch="${historic}">
    <h2 th:case="null">No loans yet!</h2>
    <div th:case="*">
        <h2>Loans</h2>
        <table class="bTop" colspan="0" border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Student ID</th>
                <th>Book ID</th>
                <th>Loan Days</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hist : ${historic}" >
                <td th:text="${hist.historic_id}"></td>
                <td th:text="${hist.student_id}"></td>
                <td th:text="${hist.book_id}"></td>
                <td th:text="${hist.loan_days}"></td>
                <td><a th:href="@{/edithistoric/{historic_id}(historic_id=${hist.historic_id})}">Edit</a></td>
                <td><a th:href="@{/deletehistoric/{historic_id}(historic_id=${hist.historic_id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/signup-historic">Add a new loan</a></p>
</div>
</body>
</html>