<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h2>Student List</h2>
    <div th:switch="${student}">
        <h2 th:case="null">No students yet!</h2>
        <div th:case="*">
            <h2>Students</h2>
            <table class="bTop" colspan="0" border="1">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Faculty</th>
                    <th>Year</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="std : ${student}">
                    <td th:text="${std.student_id}"></td>
                    <td th:text="${std.name}"></td>
                    <td th:text="${std.faculty}"></td>
                    <td th:text="${std.year}"></td>
                    <td><a th:href="@{/edit/{student_id}(student_id=${std.student_id})}">Edit</a></td>
                    <td><a th:href="@{/delete/{student_id}(student_id=${std.student_id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/signup">Add a new student</a></p>
    </div>
</body>
</html>